.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(32, 13, 13);
}
#my-element{
  text-align: center;
  color: antiquewhite;
  font-size: 3rem;
}